<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Projects</title>

  <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="styles.css" />

    <script
      src="https://kit.fontawesome.com/510e9e4f48.js"
      crossorigin="anonymous"
    ></script>
</head>
<body>
  <!-- header section -->
  <header class="header text-center bg-dark">
    <nav class="navbar navbar-dark navbar-expand-lg p-2">
      <div class="container-fluid d-lg-none">
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navBar"
          aria-controls="navbarToggleExternalContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="nav-name text-light fs-4">John Doe</div>
      </div>

      <div
        class="navbar-collapse flex-column collapse p-3 text-secondary"
        id="navBar"
      >
        <div class="bg-dark">
          <div class="nav-name text-light fs-4 d-none d-lg-block">
            John Doe
          </div>
          <div class="nav-photo-container">
            <img
              class="nav-photo"
              src="./resources/photo.jpg"
              alt="lukakry"
            />
          </div>
          <p class="text-secondary">
            Hi, my name is John Doe and I'm a software developer. Go
            ahead and check out my experience!
          </p>

          <hr class="text-secondary" />

          <ul class="social-icons list-inline mx-auto p-2">
            <li>
              <i class="fa-brands fa-facebook fa-2x"></i>
            </li>
            <li>
              <i class="fa-brands fa-github fa-2x"></i>
            </li>
            <li>
              <i class="fa-brands fa-linkedin fa-2x"></i>
            </li>
            <li>
              <i class="fa-brands fa-instagram fa-2x"></i>
            </li>
          </ul>

          <hr class="text-secondary" />

          <ul>
            <li>
              <a href="./index.html"
                ><i class="fa-solid fa-person"></i> About me</a
              >
            </li>
            <li>
              <a href="./portfolio.html"
                ><i class="fa-solid fa-briefcase"></i> Portfolio</a
              >
            </li>
            <li>
              <a href="#resume"><i class="fa-solid fa-file"></i> Resume</a>
            </li>
            <li>
              <a href="#contact"
                ><i class="fa-solid fa-envelope"></i> Contact</a
              >
            </li>
          </ul>

          <hr class="text-secondary" />
        </div>
      </div>
    </nav>
  </header>

  <div class="main">
    <div class="background-green">
      <div class="container">
          
          <div class="timeline">
            <div class="row">
              <div class="col border">
                col
              </div>
              <div class="col-1 border">
                <div class="row d-flex flex-direction-row">
                  <span>left</span>
                  <span class="border-right border-3 h-100">timeline</span>
                  <span>right</span>
                </div>
              </div>
              <div class="col border">col</div>
            </div>
            
            <div class="rb-container">
              <ul class="rb">
                <li class="rb-item" ng-repeat="itembx">
                  <div class="timestamp">
                    3rd May 2020<br> 7:00 PM
                  </div>
                  <div class="item-title">Chris Serrano posted a photo on your wall.</div>
        
                </li>
                <li class="rb-item" ng-repeat="itembx">
                  <div class="timestamp">
                    19th May 2020<br> 3:00 PM
                  </div>
                  <div class="item-title">Mia Redwood commented on your last post.</div>
        
                </li>
        
                <li class="rb-item" ng-repeat="itembx">
                  <div class="timestamp">
                    17st June 2020<br> 7:00 PM
                  </div>
                  <div class="item-title">Lucas McAlister just send you a message.</div>
        
                </li>
        
              </ul>
          
            </div>
          </div>


      </div>
    </div>
  </div>

  <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
      crossorigin="anonymous"
    ></script>
</body>
</html>