.portret-photo {
  width: 100px;
  height: 100px;
  margin: auto;
}

@media (min-width: 992px) {
  .header {
    position: fixed;
    width: 300px;
    height: 100vh;
  }

  .main {
    margin-left: 300px;
  }
}
